# Import Packages

In [1]:
import pandas as pd
import numpy as np
import re

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# Import Data

In [3]:
df = pd.read_csv('Uncleaned_jobs.csv')

# Investigate Information Dataset
- head()
- tail()
- sample()
- info()

In [5]:
# Display the first 5 rows
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [7]:
# Display the last 5 rows
df.tail()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [9]:
# Display 7 random rows
df.sample(7)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
650,650,"Scientist / Group Lead, Cancer Biology",$92K-$155K (Glassdoor est.),"Scientist / Group Lead, Cancer Biology\nLocati...",-1.0,Monte Rosa Therapeutics,"Cambridge, MA",-1,-1,-1,-1,-1,-1,-1,-1
217,217,Analytics Manager - Data Mart,$79K-$106K (Glassdoor est.),We have an opportunity to join the Alliance as...,3.5,Central California Alliance for Health\n3.5,"Scotts Valley, CA","Scotts Valley, CA",501 to 1000 employees,1996,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$500 million to $1 billion (USD),-1
283,283,Senior Analyst/Data Scientist,$141K-$225K (Glassdoor est.),At Edmunds were driven to make car buying easi...,3.4,Edmunds.com\n3.4,"Santa Monica, CA","Santa Monica, CA",501 to 1000 employees,1966,Company - Private,Internet,Information Technology,$100 to $500 million (USD),"TrueCar, Cars.com, Kelley Blue Book"
578,578,Cloud Data Engineer (Azure),$138K-$158K (Glassdoor est.),YOUR LIFE'S MISSION: POSSIBLE\n\nYou have goal...,3.9,Navy Federal Credit Union\n3.9,"Merrifield, VA","Vienna, VA",10000+ employees,1933,Other Organization,Banks & Credit Unions,Finance,Unknown / Non-Applicable,-1
421,421,Analytics - Business Assurance Data Analyst,$124K-$198K (Glassdoor est.),Analytics - Business Assurance Data Analyst (C...,4.6,GreatAmerica Financial Services\n4.6,"Cedar Rapids, IA","Cedar Rapids, IA",501 to 1000 employees,1992,Company - Private,Lending,Finance,$100 to $500 million (USD),-1
335,335,Data Scientist,$79K-$147K (Glassdoor est.),One of the largest health insurers in the nati...,3.4,Solving IT International Inc\n3.4,"Chicago, IL","Chicago, IL",501 to 1000 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1
658,658,Data Scientist,$105K-$167K (Glassdoor est.),The work is in support of targeting and watchl...,3.8,"Aveshka, Inc.\n3.8","Washington, DC","Arlington, VA",51 to 200 employees,2010,Company - Public,IT Services,Information Technology,$10 to $25 million (USD),-1

In [11]:
# Get the dataframe's info
# (number of rows, column name & type, number of missing rows per column, memory usage)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [13]:
print('-1')

-1

In [15]:
print(-1)

-1

In [17]:
## checking missing value
df.isna().sum()

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [19]:
## checking missing value
df.isnull().sum()

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

# Missing Values Investigation

The type of missing value checked by pandas `.info()` method is only when the value is `NaN`. However, as we can see from the `.head()`, `.tail()` and `.sample(5) or another value` outputs, there are `-1` in several rows and columns. Those are also missing values, but instead of `NaN` the value is filled with `-1`.

In [21]:
# Print all rows that has -1 in atleast one of the columns
df[df.isin(['-1',-1]).any(axis=1)]

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
5,5,Data Scientist,$137K-$171K (Glassdoor est.),About Us:\n\nHeadquartered in beautiful Santa ...,4.2,HG Insights\n4.2,"Santa Barbara, CA","Santa Barbara, CA",51 to 200 employees,2010,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
6,6,Data Scientist / Machine Learning Expert,$137K-$171K (Glassdoor est.),Posting Title\nData Scientist / Machine Learni...,3.9,Novartis\n3.9,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1
7,7,Data Scientist,$137K-$171K (Glassdoor est.),Introduction\n\nHave you always wanted to run ...,3.5,iRobot\n3.5,"Bedford, MA","Bedford, MA",1001 to 5000 employees,1990,Company - Public,Consumer Electronics & Appliances Stores,Retail,$1 to $2 billion (USD),-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

But how can we be sure that -1 is the only value that correspond to missing values in this dataset?

In [23]:
df.columns

Index(['index', 'Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [25]:
df['Job Title'].value_counts()

Job Title
Data Scientist                                            337
Data Engineer                                              26
Senior Data Scientist                                      19
Machine Learning Engineer                                  16
Data Analyst                                               12
                                                         ...
Data Science Instructor                                     1
Business Data Analyst                                       1
Purification Scientist                                      1
Data Engineer, Enterprise Analytics                         1
AI/ML - Machine Learning Scientist, Siri Understanding      1
Name: count, Length: 172, dtype: int64

In [27]:
for column in df.columns:
    print(f"============= {column} =================")
    display(df[column].value_counts())
    print()

============= index =================

index
0      1
451    1
443    1
444    1
445    1
      ..
225    1
226    1
227    1
228    1
671    1
Name: count, Length: 672, dtype: int64

============= Job Title =================

Job Title
Data Scientist                                            337
Data Engineer                                              26
Senior Data Scientist                                      19
Machine Learning Engineer                                  16
Data Analyst                                               12
                                                         ...
Data Science Instructor                                     1
Business Data Analyst                                       1
Purification Scientist                                      1
Data Engineer, Enterprise Analytics                         1
AI/ML - Machine Learning Scientist, Siri Understanding      1
Name: count, Length: 172, dtype: int64

============= Salary Estimate =================

Salary Estimate
$79K-$131K (Glassdoor est.)     32
$99K-$132K (Glassdoor est.)     32
$75K-$131K (Glassdoor est.)     32
$137K-$171K (Glassdoor est.)    30
$90K-$109K (Glassdoor est.)     30
$56K-$97K (Glassdoor est.)      22
$79K-$106K (Glassdoor est.)     22
$90K-$124K (Glassdoor est.)     22
$110K-$163K (Glassdoor est.)    21
$92K-$155K (Glassdoor est.)     21
$138K-$158K (Glassdoor est.)    21
$128K-$201K (Glassdoor est.)    21
$212K-$331K (Glassdoor est.)    21
$95K-$119K (Glassdoor est.)     21
$69K-$116K (Glassdoor est.)     21
$124K-$198K (Glassdoor est.)    21
$112K-$116K (Glassdoor est.)    21
$122K-$146K (Glassdoor est.)    21
$91K-$150K (Glassdoor est.)     21
$101K-$165K (Glassdoor est.)    21
$79K-$147K (Glassdoor est.)     20
$31K-$56K (Glassdoor est.)      20
$145K-$225K(Employer est.)      20
$141K-$225K (Glassdoor est.)    20
$66K-$112K (Glassdoor est.)     20
$80K-$132K (Glassdoor est.)     20
$87K-$141K (Glassdoor est.)     20
$105K-$167K (Glassdoor est.)    20
$79K-$133K (Glassdoor est.)     19
$71K-$123K (Glassdoor est.)     19
Name: count, dtype: int64

============= Job Description =================

Job Description
Job Overview: The Data Scientist is a key member of our cross-functional Product team responsible for discovering new and innovative solutions to the challenges within the built environment. Now, more than ever, building owners and operators rely on Hatch Data to get a birds-eye view of asset performance to help them achieve ambitious goals around sustainable financial, environmental, and social impact. We are actively seeking an exceptional Data Scientist to help us take one of the worlds most extensive data sets for commercial building operations and transform it into amazing products for our customers.\n\nResponsibilities and Duties:\nPartner with Product Management, to Investigate high-level questions to discover new relationships between operations and outcomes\nMaintain and improve upon the accuracy and utility of existing machine-learning algorithms\nOwn the long-term Data Science Roadmap, including prototype solutions in "green field" problem spaces\nSupport ad-hoc data analysis in support of customer success and marketing efforts\nCollaborate closely with domain experts in energy and mechanical engineering, as well as with the software engineering team\nCoach and mentor others to amplify your impact and continuously demonstrate the value of data science\nExperience:\nBachelors degree in Data Science, Computer Science, Math, or related technical field.\nMinimum 3+ years experience applying data science techniques to drive product development and decision-making.\nDemonstrated track record of solving problems in industry with machine learning\nExpertise in statistical methods and experimental design and analysis\nFluent in at least one modern language for data processing (R, Python, and Scala experience ideal).\nComfortable with AWS and distributed data processing systems (e.g., Spark)\nFamiliarity with energy-efficiency, commercial building domain, regression and baseline techniques, weather normalization, etc. a plus\nExperience using APIs to manipulation and move data in and out of systems.\nMust possess outstanding written and verbal communication skills in English.\nAbility to prioritize development and operational tasks in a dynamic and challenging environment.\nAbout You:\nCare about leaving the world better than you found it.\nMission-driven and leads by example with equal parts brain and heart.\nOperationally-minded, empathetic, self-starter, driven, and gets things done.\nNatural communicator that instills confidence and trust with internal and external stakeholders.\nExcited to join a small company, with big company benefits, and upside potential.\nIdeally based in the San Francisco Bay Area.\nAbout Us:\n\nClimate change is real. Addressing this is the biggest issue of our time. While moving the world from dirty energy sources to clean ones matters, there is also an enormous opportunity to use existing resources more efficiently. Buildings consume up to 40% of the energy in North America alone. This is a big opportunity to create change. We bring our values to work and every day push to solve these problems at scale.\n\nOur team applies their knowledge of energy systems, mechanical engineering, IoT, machine learning and the built environment, to design cutting edge software that reduces the negative environmental impact of our indoor spaces while improving the bottom line for owners and operators. Our software platform has been proven across more than 400M square feet of commercial real estate with marquee customers, and were doubling down our efforts in the coming months as we prepare to accelerate growth and impact.\n\nThis is a unique opportunity to join a company that does well by doing good and is positioned for significant expansion. Youll enjoy comprehensive benefits, competitive salary, and meaningful equity. We offer a flexible work environment and the opportunity to work alongside an incredibly talented, fun, and highly motivated team.\n\nHow to Apply:\n\nDoes this sound like you? If so, please submit your resume and cover letter and provide any context you think would be helpful as we learn about you. Well be interested in understanding why youre excited about joining us, why this role seems like a perfect fit for your talents, and what success looks like for you, personally, over the next few years.                                                                                                                                                                                                                                                                                                                                                                                                                                                          12
We love programming and the excitement that comes with building something people use. We are the kind of people that love talking to users and can find the balance between solving a problem quickly and thinking about how your code will work in the future. We love to move fast, keep learning and get stuff done.\n\nOur data science team is still in its early days and you'll have a big impact on our direction and how we operate. You'll be central to researching, developing and shipping products that help our customers learn and grow from their data. For this role, we're looking for people who have developed split brains--software engineers who have become great at writing machine learning code or data scientists who have become great software developers.\n\nTechnologies we use (not comprehensive!):\nPython\n\nNumpy, Scipy, Pandas\n\nAurora, Cassandra, Kafka\n\nHTML, JavaScript, React\n\nSageMaker\n\nHow you will make a difference:\n\n\nAnalyze large data sets (we're collecting billions of individual actions every month).\nBuild products that enable our customers to grow faster and communicate more effectively with their customers.\nDevelop machine learning models and pipelines for research and production.\n\nWho You Are:\n\n\nHave experience implementing machine learning models, data pipelines and testing frameworks for research and production use.\nHave demonstrated a measurable impact based on the models you've created. It's not always easy getting a model correct, we love talking about places we got stuck and work as a team to think through ideas that could unblock us.\nHave experience processing cloud-scale data using parallel, elastic, streaming and similar techniques.\nEnjoy tuning and validating machine learning models and take a rigorous approach.\nUnderstand how to profile code and optimize performance.\nAspire to correctness (e.g. in your code, in drawing conclusions from data)\nHave a bachelor's or advanced degree in computer science, applied math, statistics or other relevant quantitative discipline, or equivalent industry experience.\n\nGet to know Klaviyo\n\nKlaviyo is the world's leading owned marketing platform known for accelerating revenue for online businesses using the channels they own like email, web, and mobile. Enabling companies to leverage these owned marketing channels, Klaviyo makes it easy to store, access, analyze and use transactional and behavioral data to power highly-targeted customer and prospect communications. And unlike other marketing platforms, Klaviyo doesn't force companies to compromise between advanced functionality or ease of use - so companies of all sizes are able to maximize their sales quickly. That's why over 28,000+ innovative companies like Unilever, Custom Ink and Eventbrite sell more with Klaviyo.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  5
US Citizenship Required and (TS/SCI with FSP or CI) Required\n\nJob Description:\nExcited about data? Take action with it.\n\nAs a Phoenix Data Scientist, you'll be part of a team with access to tons of real mission and that takes action on it. You will not be simply designing algorithms or analyzing theoretical use cases. You'll be using languages like R, Python and Scala to glean actionable insights and build tangible capabilities.\n\nOn a typical day as a Phoenix Data Scientist, you'll collaborate with both engineers and mission SMEs (e.g. Cybersecurity or SIGINT analysts) to process mass amounts of data. You'll implement (not just design) neural networks, Bayesian models and other Machine Learning techniques to address mission needs.\n\nMake a difference today.\nSkills Required:\nPython or Scala\nExperience in a Linux environment\nComfortable with very large data sets\nSkills Preferred:\nR, Rstudio, Shiny\nApache Spark\nMachine Learning\nNeural Networks\nArtificial Intelligence\nPredictive Modeling\nQualifications:\nUS Citizenship Required\nSecurity Clearance (TS/SCI) Required\nSome positions require FSP\nBachelors Degree in Math, Science or Engineering\n\nBenefits Offered:\nMedical, Dental, Vision Insurance - 100% Company Paid Premiums\nSTD, LTD, and Life Insurance - 100% Company paid\n401K Automatic 10% company contribution; no matching required\nPTO - 4 weeks/year\nHolidays - 10 paid/year\nBirthdays off with pay\nReferral Bonuses Upfront AND Annually Recurring\nOpen Source Bonuses Contribute to our Github projects\nProfessional Development Paid training, Certifications and Enrichment\nABOUT PHOENIX OPERATIONS GROUP:\nPhoenix Operations Group is a high-end engineering services company dedicated to protecting and advancing our national cyber resources. As a small start-up operating out of the Baltimore/Washington DC area, we rely on innovation to continually advance our employees' skills and provide game-changing solutions to our customers.\n\nOur technical competencies include Big Data analytics (batch and streaming), Cloud Computing infrastructure, multi-INT visualization, and enterprise architectures. We support operational missions (All-Source, Financial, CND) and serve as Product Owners for our open-source research initiatives.\n\nPlease visit us at http://www.phoenix-opsgroup.com for more information.\n\nPhoenix Operations Group is an Equal Opportunity Employer. Phoenix Operations Group does not discriminate on the basis of race, religion, color, sex, gender, gender identity, sexual orientation, age, non-disqualifying physical or mental disability, national origin, veteran status or any other basis covered by appropriate law. All employment is decided on the basis of qualifications, merit, and business need.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               4
Do you have a head for numbers? Like turning real-world problems into mathematical representations and checking to see if you did it right? If you like that, youll love developing algorithms with us! Our customers have some of the most interesting needs and hardest challenges to resolve. Our solutions require integrated models based on large and varied datasets, feeding analytic applications so that we can extract patterns and behaviors obscured within the data to augment the capabilities of human operators. We need both experienced and aspiring data scientists to work on all stages of the data science pipeline, to include applying existing machine learning software across large hyper-parameter trade spaces, developing new machine learning algorithms and evaluating the best the commercial AI/ML industry has to offer to our problem set.\n\nWhy Maxar?\nWe build advanced algorithms to gain analytic insights from a large range of open source and government data.\nWe enable machine learning systems, automate workflow, and design and develop custom applications for unique national-security mission.\nWe operate an end-to-end predictive analytic platform unlike any other within the US Government.\nWe provide training to expand your skills and challenges to develop them.\nOur clients missions are vital to national security, so were mission-first always.\nOur work environment is relaxed business casual.\nAt our core we believe and practice social responsibility.\nWhat would you be doing?\nExtracting and transforming data using programming languages such as Java and Python and associated open source data analytics libraries.\nAscertaining unique ways to apply algorithms to derive specific customer data analytic results.\nApplying big data analytics tools to large, diverse sets of collection data to assess risk of adverse threat activities.\nExtending existing algorithms as required to support customer requirements.\nApplying data science methods to create and optimize convolutional neural networks that will perform classification, localization and segmentation of various modalities of remotely-sensed imagery.\n\nMinimum Qualifications:\nMust be a US citizen with a current/active TS/SCI and be willing and able to obtain a CI Polygraph.\nB.S. in Engineering, Math, Physics, Computer Science or related field.\n8 years of professional experience as a Data Scientist.\nExperience with at least one of these languages: R, VBA, Java, C++, SQL, Python.\n\nDesired Qualifications:\nGraduate experience working with probabilistic and stochastic statistical analysis or computational intelligence.\nExperience conducting model feasibility research and algorithm development for machine learning.\nExperience with distributed datasets and experience analyzing both relational and NoSQL data structures.\nExperience working in an Agile environment, especially SAFe.\nAscertaining unique ways to apply algorithms to derive specific customer specific data analytics results.\nApplying big data analytics tools to large, diverse sets of collection data to assess risk of adverse threat activities.\nExtending existing algorithms as required to support customer requirements.\nExperience implementing algorithms related to machine learning.\nKnowledge of technical aspects of ISR systems.\nExperience conducting model feasibility research and algorithm development for machine learning.\nExperience developing and testing models.\nExtracting and transforming data using programming languages such as Java and Python and associated open-source data analytics libraries.\nExperience with Data Analytics.\nExceptional oral and written communications.\nOrganizational skills and excellent attention to detail.\nDevelopment experience in a Linux/Unix/Windows environment.\nCapability to work effectively in a geographically distributed development team.\nBasic systems administration and installation.\nBuild-test-deploy frameworks (Jenkins, GoCD, etc.).\nContainerization platforms (Docker, OpenShift, CloudFoundry, etc.).\nOccasional local travel to government sites for customer meetings and demonstrations.\n\n#cjpost                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              4

============= Rating =================

Rating
 3.5    58
-1.0    50
 4.0    41
 3.3    41
 3.9    40
 3.8    39
 3.7    38
 5.0    36
 4.5    32
 3.6    31
 3.4    31
 4.2    29
 4.1    25
 4.4    24
 4.7    22
 3.2    21
 4.8    20
 4.3    14
 2.9    14
 4.6    12
 3.1    12
 4.9    11
 2.7    10
 3.0     7
 2.6     4
 2.8     3
 2.5     2
 2.2     1
 2.4     1
 2.3     1
 2.1     1
 2.0     1
Name: count, dtype: int64

============= Company Name =================

Company Name
Hatch Data Inc                      12
Maxar Technologies\n3.5             12
Tempus Labs\n3.3                    11
AstraZeneca\n4.0                    10
Klaviyo\n4.8                         8
                                    ..
Better Hire\n4.0                     1
Rincon Research Corporation\n4.2     1
Descript\n4.3                        1
Trace Data\n3.9                      1
ChaTeck Incorporated\n5.0            1
Name: count, Length: 432, dtype: int64

============= Location =================

Location
San Francisco, CA    69
New York, NY         50
Washington, DC       26
Boston, MA           24
Chicago, IL          22
                     ..
Oshkosh, WI           1
Culver City, CA       1
Lake Oswego, OR       1
New Orleans, LA       1
Irwindale, CA         1
Name: count, Length: 207, dtype: int64

============= Headquarters =================

Headquarters
New York, NY         33
-1                   31
San Francisco, CA    31
Chicago, IL          23
Boston, MA           19
                     ..
Irving, TX            1
Scottsdale, AZ        1
Greensboro, NC        1
Newark, CA            1
Fort Lee, NJ          1
Name: count, Length: 229, dtype: int64

============= Size =================

Size
51 to 200 employees        135
1001 to 5000 employees     104
1 to 50 employees           86
201 to 500 employees        85
10000+ employees            80
501 to 1000 employees       77
5001 to 10000 employees     61
-1                          27
Unknown                     17
Name: count, dtype: int64

============= Founded =================

Founded
-1       118
 2012     34
 2011     25
 2015     22
 2010     22
        ...
 1820      1
 1952      1
 1959      1
 1894      1
 1962      1
Name: count, Length: 103, dtype: int64

============= Type of ownership =================

Type of ownership
Company - Private                 397
Company - Public                  153
Nonprofit Organization             36
Subsidiary or Business Segment     28
-1                                 27
Government                         10
Other Organization                  5
Private Practice / Firm             4
Unknown                             4
College / University                3
Self-employed                       2
Contract                            2
Hospital                            1
Name: count, dtype: int64

============= Industry =================

Industry
-1                                          71
Biotech & Pharmaceuticals                   66
IT Services                                 61
Computer Hardware & Software                57
Aerospace & Defense                         46
Enterprise Software & Network Solutions     43
Consulting                                  38
Staffing & Outsourcing                      36
Insurance Carriers                          28
Internet                                    27
Advertising & Marketing                     23
Health Care Services & Hospitals            21
Research & Development                      17
Federal Agencies                            16
Investment Banking & Asset Management       13
Banks & Credit Unions                        8
Lending                                      8
Energy                                       5
Consumer Products Manufacturing              5
Telecommunications Services                  5
Insurance Agencies & Brokerages              4
Food & Beverage Manufacturing                4
Utilities                                    3
Electrical & Electronic Manufacturing        3
Colleges & Universities                      3
Other Retail Stores                          3
Architectural & Engineering Services         3
Chemical Manufacturing                       3
Real Estate                                  3
Miscellaneous Manufacturing                  3
Accounting                                   3
Wholesale                                    3
Industrial Manufacturing                     3
Video Games                                  3
Travel Agencies                              2
Express Delivery Services                    2
Timber Operations                            2
Financial Transaction Processing             2
Construction                                 2
Health, Beauty, & Fitness                    2
Transportation Equipment Manufacturing       2
Oil & Gas Services                           2
Venture Capital & Private Equity             2
Consumer Electronics & Appliances Stores     2
Department, Clothing, & Shoe Stores          1
Publishing                                   1
Social Assistance                            1
Farm Support Services                        1
Logistics & Supply Chain                     1
Transportation Management                    1
State & Regional Agencies                    1
Hotels, Motels, & Resorts                    1
Food & Beverage Stores                       1
News Outlet                                  1
Telecommunications Manufacturing             1
Cable, Internet & Telephone Providers        1
Shipping                                     1
Rail                                         1
Name: count, dtype: int64

============= Sector =================

Sector
Information Technology                188
Business Services                     120
-1                                     71
Biotech & Pharmaceuticals              66
Aerospace & Defense                    46
Finance                                33
Insurance                              32
Manufacturing                          23
Health Care                            21
Government                             17
Oil, Gas, Energy & Utilities           10
Retail                                  7
Telecommunications                      7
Transportation & Logistics              6
Media                                   5
Real Estate                             3
Travel & Tourism                        3
Agriculture & Forestry                  3
Education                               3
Accounting & Legal                      3
Construction, Repair & Maintenance      2
Consumer Services                       2
Non-Profit                              1
Name: count, dtype: int64

============= Revenue =================

Revenue
Unknown / Non-Applicable            213
$100 to $500 million (USD)           94
$10+ billion (USD)                   63
$2 to $5 billion (USD)               45
$10 to $25 million (USD)             41
$1 to $2 billion (USD)               36
$25 to $50 million (USD)             36
$50 to $100 million (USD)            31
$1 to $5 million (USD)               31
-1                                   27
$500 million to $1 billion (USD)     19
$5 to $10 million (USD)              14
Less than $1 million (USD)           14
$5 to $10 billion (USD)               8
Name: count, dtype: int64

============= Competitors =================

Competitors
-1                                                                501
Roche, GlaxoSmithKline, Novartis                                   10
Los Alamos National Laboratory, Battelle, SRI International         6
Leidos, CACI International, Booz Allen Hamilton                     6
MIT Lincoln Laboratory, Lockheed Martin, Northrop Grumman           3
                                                                 ...
Pfizer, GlaxoSmithKline                                             1
Square, Amazon, Apple                                               1
Lumentum Operations, Keysight Technologies, O-Net Technologies      1
Munich Re, Hannover RE, SCOR                                        1
Genomic Health, Myriad Genetics, The Broad Institute                1
Name: count, Length: 108, dtype: int64

From the code above, we saw that there are also other missing values besides -1 in several columns. Below is the list of all missing values for each of the columns:

- Rating: -1
- Headquarters: -1
- Size: -1, Unknown
- Founded: -1
- Type of ownership: -1, Unknown
- Industry: -1
- Sector: -1
- Revenue: -1, Unknown / Non-Applicable
- Competitors: -1

Now we know what are the missing values contained in each of the columns. Next, we have to decide how should we act on those columns that have missing values. Should we drop that column? Or should we impute the missing value?

First, we have to see what's the percentage of missing value in that column. If it contained a lot of missing value (let say >35%), then we can just drop that column. If not, then we can do some imputation.

In [29]:
100 * len(df[df['Rating']==-1]) / len(df)

7.440476190476191

In [31]:
100 * len(df[df['Headquarters']=='-1']) / len(df)

4.613095238095238

In [33]:
100 * len(df[df['Size'].isin(['-1','Unknown'])]) / len(df)

6.5476190476190474

In [35]:
100 * len(df[df['Founded']==-1]) / len(df)

17.55952380952381

In [37]:
100 * len(df[df['Type of ownership'].isin(['-1','Unknown'])]) / len(df)

4.613095238095238

In [39]:
100 * len(df[df['Industry']=='-1']) / len(df)

10.56547619047619

In [41]:
100 * len(df[df['Sector']=='-1']) / len(df)

10.56547619047619

In [43]:
100 * len(df[df['Revenue'].isin(['-1','Unknown / Non-Applicable'])]) / len(df)

35.714285714285715

In [45]:
100 * len(df[df['Competitors']=='-1']) / len(df)

74.55357142857143

So, there are 2 columns that have missing values >35% or >25% or >20% depend on critical business value (Ex : health (more critical)), they are `Revenue` and `Competitors`. We can just remove these 2 columns since they have too many missing values and imputing those missing values will not be a wise choice.

We will also drop the `index` column since it gives no information.

In [47]:
df = df.drop(columns=['Revenue','Competitors','index'])

In [49]:
df.sample(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector
166,Senior Data Analyst,$101K-$165K (Glassdoor est.),Job Requisition ID #\n20WD38079\nJob Title\nSe...,4.0,Autodesk\n4.0,"San Francisco, CA","San Rafael, CA",5001 to 10000 employees,1982,Company - Public,Computer Hardware & Software,Information Technology
7,Data Scientist,$137K-$171K (Glassdoor est.),Introduction\n\nHave you always wanted to run ...,3.5,iRobot\n3.5,"Bedford, MA","Bedford, MA",1001 to 5000 employees,1990,Company - Public,Consumer Electronics & Appliances Stores,Retail
454,Data Scientist,$69K-$116K (Glassdoor est.),Data Scientist\nOur Data Scientists perform re...,3.1,MoTek Technologies\n3.1,"Mountain View, CA","San Jose, CA",1 to 50 employees,2009,Company - Private,IT Services,Information Technology
52,Data Scientist,$75K-$131K (Glassdoor est.),"About Netskope\n\nToday, there's more data and...",4.0,Netskope\n4.0,"San Francisco, CA","Santa Clara, CA",501 to 1000 employees,2012,Company - Private,Enterprise Software & Network Solutions,Information Technology
354,Data Science All Star Program - Data Engineer ...,$122K-$146K (Glassdoor est.),Data Science All Star Program - Data Engineer ...,4.6,Blend360\n4.6,"Columbia, MD","Columbia, MD",51 to 200 employees,2002,Company - Private,Consulting,Business Services

Now we can do the imputation on the rest of the columns. Each column will received different imputation methods based on the characteristics of the data.

### Missing value Handling -> Feature Engineering
splitting into train include (Xtrain, ytrain) and test (Xtest, ytest) to prevent data leakage (kebocoran data) that can cause overfitting and downgrade performance Machine Learning.

In [51]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size = 0.2, random_state=42)
#train : test = 80:20 atau 75:25 atau (minimum :70:30 atau maksimum: 90:10) bagi angka yg lain (85:15)

In [53]:
test.shape

(135, 12)

In [55]:
train.shape

(537, 12)

In [57]:
train.head(1)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector
480,Data Scientist,$31K-$56K (Glassdoor est.),What will you be doing?\n\nThe Contractor shal...,4.7,Praxis Engineering\n4.7,"Chantilly, VA","Annapolis Junction, MD",201 to 500 employees,2002,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology

In [59]:
test.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector
361,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1
158,Machine Learning Engineer,$101K-$165K (Glassdoor est.),Overview\n\nRadical Convergence is a fast-pace...,-1.0,Radical Convergence,"Reston, VA",-1,-1,-1,-1,-1,-1
481,Data Scientist,$31K-$56K (Glassdoor est.),General Description: The Data Scientist will s...,3.4,USI\n3.4,"Southfield, MI","Saint Paul, MN",1001 to 5000 employees,1998,Company - Private,Construction,"Construction, Repair & Maintenance"
639,Data Scientist,$92K-$155K (Glassdoor est.),Who is Moxie?\n\nMoxie is a company on a missi...,3.0,Moxie Software\n3.0,"Bellevue, WA","San Bruno, CA",51 to 200 employees,1999,Company - Private,Enterprise Software & Network Solutions,Information Technology
275,Data Scientist,$91K-$150K (Glassdoor est.),Join us and make YOUR mark on the World!\n\nCo...,4.7,Lawrence Livermore National Lab\n4.7,"Livermore, CA","Livermore, CA",1001 to 5000 employees,1952,Government,Federal Agencies,Government

### Aturan missing value handling :
1. jika tipe datanya itu **numerik** -> handling menggunakan **median** (robust / tahan terhadap outlier)
2. jika tipe datanya itu **kategorik / object / string** -> handling menggunakan **mode / modus**

#### Median imputation on Rating column

In [61]:
# Median imputation on Rating column : train

median_rating_train = train[train['Rating']!=-1]['Rating'].median()

In [63]:
median_rating_train

3.8

In [65]:
#implement missing value imputation to train and test, from rating median value in train data
train['Rating'] = train['Rating'].apply(lambda x: median_rating_train if x==-1 else x) #train
test['Rating'] = test['Rating'].apply(lambda x: median_rating_train if x==-1 else x) #test

In [67]:
train[train['Rating']==-1]

Empty DataFrame
Columns: [Job Title, Salary Estimate, Job Description, Rating, Company Name, Location, Headquarters, Size, Founded, Type of ownership, Industry, Sector]
Index: []

In [69]:
test[test['Rating']==-1]

Empty DataFrame
Columns: [Job Title, Salary Estimate, Job Description, Rating, Company Name, Location, Headquarters, Size, Founded, Type of ownership, Industry, Sector]
Index: []

#### Mode imputation in Headquarters

In [71]:
# Mode imputation on Headquarters columns

mode_headquarters_train = train[train['Headquarters']!='-1']['Headquarters'].mode()[0]
mode_headquarters_train

'New York, NY'

In [73]:
#implement missing value imputation to train and test, from rating mode value in train data
train['Headquarters'] = train['Headquarters'].apply(lambda x: mode_headquarters_train if x=='-1' else x)
test['Headquarters'] = test['Headquarters'].apply(lambda x: mode_headquarters_train if x=='-1' else x)

In [75]:
train[train['Headquarters']=='-1']

Empty DataFrame
Columns: [Job Title, Salary Estimate, Job Description, Rating, Company Name, Location, Headquarters, Size, Founded, Type of ownership, Industry, Sector]
Index: []

In [77]:
test[test['Headquarters']=='-1']

Empty DataFrame
Columns: [Job Title, Salary Estimate, Job Description, Rating, Company Name, Location, Headquarters, Size, Founded, Type of ownership, Industry, Sector]
Index: []

#### Mode imputation on Size column

In [79]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 537 entries, 480 to 102
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          537 non-null    object
 1   Salary Estimate    537 non-null    object
 2   Job Description    537 non-null    object
 3   Rating             537 non-null    float64
 4   Company Name       537 non-null    object
 5   Location           537 non-null    object
 6   Headquarters       537 non-null    object
 7   Size               537 non-null    object
 8   Founded            537 non-null    int64
 9   Type of ownership  537 non-null    object
 10  Industry           537 non-null    object
 11  Sector             537 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 54.5+ KB

In [81]:
train_mode_size = train[~train['Size'].isin(['-1','Unknown'])]['Size'].mode()[0]
train_mode_size

'51 to 200 employees'

In [83]:
#implement missing value imputation to train and test, from rating mode value in train data
train['Size'] = train['Size'].apply(lambda x: train_mode_size if x in ['-1','Unknown'] else x)
test['Size'] = test['Size'].apply(lambda x: train_mode_size if x in ['-1','Unknown'] else x)

In [85]:
train[train['Size'].isin(['-1','Unknown'])]

Empty DataFrame
Columns: [Job Title, Salary Estimate, Job Description, Rating, Company Name, Location, Headquarters, Size, Founded, Type of ownership, Industry, Sector]
Index: []

In [87]:
test[test['Size'].isin(['-1','Unknown'])]

Empty DataFrame
Columns: [Job Title, Salary Estimate, Job Description, Rating, Company Name, Location, Headquarters, Size, Founded, Type of ownership, Industry, Sector]
Index: []

## Assignment Missing Value Handling
1. Investigate Information Dataset
2. Handling missing value in columns below, investigate the variable missing :
- Founded
- Type of ownership
- Industry
- Sector

In [89]:
100 * len(df[df['Founded']==-1]) / len(df)

17.55952380952381

In [91]:
100 * len(df[df['Type of ownership'].isin(['-1','Unknown'])]) / len(df)

4.613095238095238

In [93]:
100 * len(df[df['Industry']==-1]) / len(df)

0.0

In [95]:
100 * len(df[df['Sector']==-1]) / len(df)

0.0

# Duplicate Rows Handling

In [97]:
len(df)

672

In [99]:
len(df.drop_duplicates())

659

In [101]:
len(df) - len(df.drop_duplicates())

13

In [103]:
len(df.drop_duplicates()) / len(df)

0.9806547619047619

Since the number is not 1.0, we conclude that there are duplicate rows in this dataset. Thus, we have to drop those duplicate rows.

In [105]:
df = df.drop_duplicates()

In [107]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services
...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services
668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1
669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1
670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services
671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services

In [109]:
len(df.drop_duplicates()) / len(df)

1.0

### Data diatas sebelumnya itu 0.98, tapi setelah di drop hasilnya ialah 1, maka sudah tidak ada data duplikat lagi.

### Assignment Drop Duplicated
1. Drop duplicated in data train and data test
2. Check data before and after drop duplicated

In [111]:
len(train)

537

In [113]:
len(train.drop_duplicates())

531

In [115]:
len(train) - len(train.drop_duplicates())

6

In [117]:
len(train.drop_duplicates()) / len(train)

0.9888268156424581

In [119]:
train = train.drop_duplicates()
train

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector
480,Data Scientist,$31K-$56K (Glassdoor est.),What will you be doing?\n\nThe Contractor shal...,4.7,Praxis Engineering\n4.7,"Chantilly, VA","Annapolis Junction, MD",201 to 500 employees,2002,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology
605,Data Scientist,$80K-$132K (Glassdoor est.),"Use statistical analysis, machine learning, pa...",4.0,Lorven Technologies Inc\n4.0,"New York, NY","Plainsboro, NJ",1 to 50 employees,-1,Company - Private,Accounting,Accounting & Legal
61,Machine Learning Engineer,$75K-$131K (Glassdoor est.),The Video & Image Understanding Group develops...,4.5,Systems & Technology Research\n4.5,"Woburn, MA","Woburn, MA",201 to 500 employees,2010,Company - Private,Aerospace & Defense,Aerospace & Defense
145,Research Scientist Patient Preferences (Remote),$90K-$109K (Glassdoor est.),*We would ideally like this position to be bas...,3.8,Evidera\n3.8,"Bethesda, MD","Bethesda, MD",501 to 1000 employees,2013,Subsidiary or Business Segment,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals
353,Data Scientist,$122K-$146K (Glassdoor est.),Join us in making roads safer by making driver...,4.9,Cambridge Mobile Telematics\n4.9,"Cambridge, MA","Cambridge, MA",1 to 50 employees,2010,Company - Private,Enterprise Software & Network Solutions,Information Technology
...,...,...,...,...,...,...,...,...,...,...,...,...
71,"Data Scientist, Applied Machine Learning - Bay...",$79K-$131K (Glassdoor est.),Passionate about precision medicine and advanc...,3.3,Tempus Labs\n3.3,"Redwood City, CA","Chicago, IL",501 to 1000 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals
106,Sr Data Engineer (Sr BI Developer),$99K-$132K (Glassdoor est.),Description/Responsibilities\n\n\nResponsible ...,3.2,Tivity Health\n3.2,"Chandler, AZ","Franklin, TN",501 to 1000 employees,1981,Company - Public,Health Care Services & Hospitals,Health Care
270,Data Engineer,$91K-$150K (Glassdoor est.),About Shape Security\n\nWe are security and we...,4.1,Shape Security\n4.1,"Santa Clara, CA","Mountain View, CA",51 to 200 employees,2011,Company - Private,IT Services,Information Technology
435,Data Scientist,$79K-$133K (Glassdoor est.),Job Description\nWe are looking for the sharpe...,5.0,PeopleCom\n5.0,"McLean, VA","Reston, VA",1 to 50 employees,-1,Company - Private,-1,-1
102,Health Data Scientist - Biomedical/Biostats,$99K-$132K (Glassdoor est.),Evidation Health is a new kind of health and m...,4.1,Evidation\n4.1,"Santa Barbara, CA","San Mateo, CA",51 to 200 employees,2012,Company - Private,Internet,Information Technology

In [121]:
len(train.drop_duplicates()) / len(train)

1.0

In [123]:
len(test)

135

In [125]:
len(test.drop_duplicates())

131

In [127]:
len(test) - len(test.drop_duplicates())

4

In [129]:
len(test.drop_duplicates()) / len(test)

0.9703703703703703

In [131]:
test = test.drop_duplicates()
test

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector
361,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,3.8,Hatch Data Inc,"San Francisco, CA","New York, NY",51 to 200 employees,-1,-1,-1,-1
158,Machine Learning Engineer,$101K-$165K (Glassdoor est.),Overview\n\nRadical Convergence is a fast-pace...,3.8,Radical Convergence,"Reston, VA","New York, NY",51 to 200 employees,-1,-1,-1,-1
481,Data Scientist,$31K-$56K (Glassdoor est.),General Description: The Data Scientist will s...,3.4,USI\n3.4,"Southfield, MI","Saint Paul, MN",1001 to 5000 employees,1998,Company - Private,Construction,"Construction, Repair & Maintenance"
639,Data Scientist,$92K-$155K (Glassdoor est.),Who is Moxie?\n\nMoxie is a company on a missi...,3.0,Moxie Software\n3.0,"Bellevue, WA","San Bruno, CA",51 to 200 employees,1999,Company - Private,Enterprise Software & Network Solutions,Information Technology
275,Data Scientist,$91K-$150K (Glassdoor est.),Join us and make YOUR mark on the World!\n\nCo...,4.7,Lawrence Livermore National Lab\n4.7,"Livermore, CA","Livermore, CA",1001 to 5000 employees,1952,Government,Federal Agencies,Government
...,...,...,...,...,...,...,...,...,...,...,...,...
420,Data Scientist,$124K-$198K (Glassdoor est.),Description Our client is looking to hire a da...,3.5,Robert Half\n3.5,"Manchester, NH","Menlo Park, CA",10000+ employees,1948,Company - Public,Staffing & Outsourcing,Business Services
552,Senior Data Analyst - Finance & Platform Analy...,$128K-$201K (Glassdoor est.),"About Us\n\n\nLaunched in 2011, Twitch is a gl...",3.6,Twitch\n3.6,"San Francisco, CA","San Francisco, CA",1001 to 5000 employees,2011,Subsidiary or Business Segment,Internet,Information Technology
212,Data Scientist - TS/SCI Required,$79K-$106K (Glassdoor est.),US Citizenship Required and (TS or TS/SCI) Req...,5.0,Phoenix Operations Group\n5.0,"Baltimore, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology
18,Data Analyst II,$137K-$171K (Glassdoor est.),The Data Analyst II is responsible for data en...,4.2,"Insight Enterprises, Inc.\n4.2","Plano, TX","Tempe, AZ",5001 to 10000 employees,1988,Company - Public,Enterprise Software & Network Solutions,Information Technology
235,Data Scientist,$71K-$123K (Glassdoor est.),Job Description\nKey Job Duties and Responsibi...,3.3,II-VI Incorporated\n3.3,"Champaign, IL","Saxonburg, PA",10000+ employees,1971,Company - Public,Telecommunications Manufacturing,Telecommunications

In [133]:
len(test.drop_duplicates()) / len(test)

1.0